.logo, .content, .end{
    background-color: #1F2937;
    color:#F9FAF8;
}
button, .advert{
    background-color: #3882F6;
}
.logo {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
}
.main-logo{
    margin: 15px;
    font-weight: bolder;
}
.content{
    display: flex;
    height: 250px;
    flex-direction: column;
}

.hero{
    font-size: 48px;
    font-weight: bolder;
    height: 100px;
    width: 400px;
    padding-left: 150px;
}
.secondary, .header-logo{
    font-size: 18px;
    color:#E5E7EB;
    
}
.header-logo {
    text-align: right;
    padding-right: 200px;
}
.secondary{
    height: 100px;
    width: 300px;
    padding-left: 150px;
    
}
ul, li {
    display: inline-block;
    margin: 10px;
}
a {
    color:inherit;
    text-decoration: none;
    
}
button{
    color: #F9FAF8;
    width: 100px;
    border-radius:8px;
}

.main-img{
    position: absolute;
    right: 20%;
}
.second-title, .quote{
    font-size: 36px;
    color: #1F2937;
    text-align: center;
}
.info ul li{
    text-align: center;
    padding: 50px;
}
.img-list{
    text-align: center;
    display: flex;
}
.item{
    text-align: center;
    display: block;
}
.img-text{
    text-align: center;
    padding: 50px;
}
.second-title{
    font-weight: bolder;
}
.quote{
    height: 250px;
    background-color: #E5E7EB;
    font-style: italic;
    font-weight: lighter;
}
.advert-cont{
    display: flex;
    justify-content: center;
    height: 250px;

}
.advert{
    border:2px solid #3882F6;
    border-radius: 5px;
    width: 500px;
    height: 100px;
    padding: 20px;
    margin: 50px;
}
.action{
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-align: left;
}
.signup-ad{
    border: 2px solid white;
    border-radius: 4px;
    text-align: center;
    width: 50px;
    color: white;
    display: inline-flex;
}
.end{
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: inline-block;
    margin-top: 10%;
}



